@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Light.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Medium.woff2);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Fat.woff2);
  font-style: normal;
  font-weight: 800;
}

@layer base {
  .ant-select .ant-select-selector {
    border-radius: 100vw;
    @apply rounded-full;
  }

  .seg .ant-segmented-item-selected {
    border-radius: 100vw;
  }

  .seg .ant-segmented-item {
    @apply rounded-full;
  }

  .seg .ant-segmented-thumb {
    border-radius: 100vw;
  }

  td,
  th {
    @apply font-yekan;
  }

  .message-table .ant-table-cell {
    @apply !font-bold;
  }

  .radio .ant-radio-checked .ant-radio-inner {
    @apply bg-orange-500 border-orange-500;
  }

  .collapse-pannel .ant-collapse-header {
    @apply text-black dark:text-white !p-0;
  }

  .collapse-pannel .ant-collapse-content-box {
    @apply dark:bg-gray-900 dark:text-white;
  }

  .collapse-pannel .ant-collapse-content {
    @apply dark:bg-gray-900;
  }

  .account-table table {
    @apply border border-gray-200  dark:border-gray-800 rounded-[1.4rem] overflow-hidden;
  }

  .account-table .ant-table-cell:nth-child(1) {
    @apply bg-gray-50 dark:bg-gray-900;
  }

  .account-table .ant-table-cell {
    @apply !border-gray-200 dark:border-gray-800;
  }

  .account-table .ant-table-row td {
    @apply dark:!border-gray-800;
  }

  .hotels-collapse .ant-collapse-expand-icon {
    @apply bg-gray-300 dark:bg-gray-900 dark:border dark:border-gray-800 rounded-full !p-0 w-[22px]  flex justify-center;
  }

  .custom-checkbox .ant-checkbox-wrapper {
    @apply text-orange-500;
  }

  .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
    @apply bg-orange-500 border-orange-500;
  }

  .custom-checkbox .ant-checkbox:hover .ant-checkbox-inner,
  .custom-checkbox .ant-checkbox-input:focus + .ant-checkbox-inner {
    @apply border-orange-500;
  }

  .custom-checkbox .ant-checkbox-checked::after {
    @apply border-orange-500;
  }

  .tabs .ant-tabs-nav-list {
    margin: auto;
  }
}

.ant-popover-inner {
  border-radius: 1.4rem !important;
}

.ant-popover-arrow {
  left: 17px !important;
}

.ant-collapse {
  border: 0;
}

.ant-collapse-content {
  border: transparent !important;
}

.ant-collapse-content-box {
  padding: 0 !important;
}

.account-table .ant-table-row:last-child td {
  border: 0 !important;
}

.account-table .ant-table {
  border-radius: 1.4rem;
}

.mapbox-logo {
  display: none !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.ant-tabs-tab {
  margin-left: 2rem;
}

.hotel-grid {
  display: grid;
  direction: ltr;
  grid-template-areas:
    "one two two"
    "one three four";
}

.room-table , .log-table .ant-table-thead > tr > th {
  text-align: center;
}

.log-table  .ant-table-tbody > tr  > td {
  text-wrap: nowrap;
}

.ant-image-mask {
  border-radius: 0 0 2rem !important;
  width: 11.75rem;
}

.guests-table .ant-table-footer {
  background-color: inherit;
}

.steps
  .ant-steps-item-finish
  .ant-steps-item-container
  .ant-steps-item-content
  .ant-steps-item-title::after {
  background-color: orange;
}
