@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Light.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Medium.woff2);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Fat.woff2);
  font-style: normal;
  font-weight: 800;
}

@layer utilities {
  .datepicker .ant-picker-input > input::placeholder {
    @apply font-yekan dark:text-white;
  }

  .ant-select .ant-select-selector {
    border-radius: 100vw;
    @apply rounded-full dark:bg-gray-900 dark:border-gray-800 dark:text-white;
  }

  .seg .ant-segmented-item-selected {
    border-radius: 100vw;
  }

  .seg .ant-segmented-item {
    border-radius: 100vw;
  }

  .seg .ant-segmented-thumb {
    border-radius: 100vw;
  }
}
