@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Light.woff2);
  font-style: normal;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Bold.woff2);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Medium.woff2);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Regular.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Yekan";
  src: url(/public/assets/fonts/yekan/YekanBakh-Fat.woff2);
  font-style: normal;
  font-weight: 800;
}

@layer utilities {
  .ant-select .ant-select-selector {
    border-radius: 100vw;
    @apply rounded-full;
  }

  .seg .ant-segmented-item-selected {
    border-radius: 100vw;
  }

  .seg .ant-segmented-item {
    @apply rounded-full;
  }

  .seg .ant-segmented-thumb {
    border-radius: 100vw;
  }
}

.ant-popover-inner {
  border-radius: 1.4rem !important;
}

.ant-popover-arrow {
  left: 17px !important;
}
